<?xml version="1.0" encoding="UTF-8" standalone="no"?><root>
	
	
	
	<ghost>0.0</ghost>
	
	
	<onlydata>true</onlydata>
	<serverAddress>localhost</serverAddress>
	<serverport>10500</serverport>
	<simpleConnection>false</simpleConnection>
<errors>true</errors><loss>0.8</loss><delay>0.7</delay><header>0.8</header><payload>0.8</payload></root>